<p>
    Hallo #{name},
</p>
<p>
    Klik op de onderstaande link om een nieuw wachtwoord aan te maken voor het energieportaal:<br />
    <br/><br/>
    <a href="#{uri}">Klik hier om een nieuw wachtwoord aan te maken</a>
    <br/><br/>
    Mocht je problemen ondervinden bij het vervangen van je wachtwoord, dan kan je altijd contact opnemen met ons.<br/>
    Het gemakkelijkste is als je dit doet met Kevin Sijbers, te bereiken op 06-361 663 50 of kevin@slimopgewekt.nl
</p>